$color_1: white;
$background-color_1: #2196F3;
$background-color_2: rgba(255, 255, 255, 0.8);
$background-color_3: #4CAF50;

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 10px;
	background-color: $background-color_1;
	padding: 10px;
	>div {
		background-color: $background-color_2;
		text-align: center;
		padding: 20px 0;
		font-size: 30px;
		&:nth-child(n {
			+ {
				5) {
					display: none;
				}
			}
		}
	}
}
#readToggle {
	display: none;
	&:checked {
		~ {
			.grid-container {
				>div {
					&:nth-child(n {
						+ {
							5) {
								display: grid;
							}
						}
					}
				}
			}
			#readMoreLabel {
				display: none;
			}
		}
	}
	&:not(:checked) {
		~ {
			#readLessLabel {
				display: none;
			}
		}
	}
}
#readMoreLabel {
	display: block;
	text-align: center;
	padding: 10px;
	background-color: $background-color_3;
	color: $color_1;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
#readLessLabel {
	display: block;
	text-align: center;
	padding: 10px;
	background-color: $background-color_3;
	color: $color_1;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
